html,body,h1,h2,h3,h4,h5 {font-family: "RobotoDraft", "Roboto", sans-serif}
.w3-bar-block .w3-bar-item {padding: 16px}
.contactPortrait{
    border-radius: 0%;
    width:150px;
    height:150px;
    border-radius: 3px;
}
div.contactMenu {overflow: auto;white-space: nowrap;}
.contact_card_label {font-weight: bold; margin: 0;}
.contact_card_value {margin: 0 0 20px;}

#cloud_share_title {
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.cloud_header_title {
    margin: 0;
    padding: 10px 20px;
    background: #f3f3f3;
    color: #000;
    font-size: 0.9rem;
}

.contactMenu {
    padding: 25px;
}

#doc_browse {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    text-align: left;
}
#doc_browse  th {
    text-align: left;
    padding: 0 20px;
}

#doc_browse  td {
    text-align: left;
    padding: 0 20px;
}

#doc_browse tr:nth-child(odd) {
    background-color: #f3f3f3;
}

.doc_browse_icons {
    width: 20px;
    margin-right: 10px;
}

.icon_title {
    font-size: 1rem;
    display: inline-block;
}

.email_contacts {
    display: inline;
    margin: 0;
    white-space: nowrap;
}

.email_contacts span {
    background: #5f5f5f;
    color: #fff;
    border-radius: 3px;
    padding: 5px;
}

.table_butn {
    padding: 8px;
    border-radius: 2px;
}

#file_filter {
    margin: 20px 0;
    box-sizing: border-box;
    padding: 0 20px;
}

#file_filter input {
    height: 50px;
    border: 1px solid #f3f3f3;
    background: #f3f3f3;
    border-radius: 4px;
    padding: 0 10px;
}

#file_filter select {
    height: 50px;
    border: 1px solid #f3f3f3;
    background: #f3f3f3;
    border-radius: 4px;
    padding: 0 10px;
}

.contact_header {
    background: #f3f3f3;
    padding: 0;
}

.contact_title {
    line-height: 50px;
    font-size: 1.3rem;
    margin: 0 !important;
    padding: 0;
}

.logo_head {
    background: #fff;
    font-size: 0.8rem !important;
    text-align: center;
    margin: 0 auto;
}

#logo {
    height: 40px;
    margin-bottom: 15px;
}